@import '../../styles/variables';
.image-carousel {
    height: calc(100vh - 80px);
    position: relative;
    &__slide { 
        width: 100%;
    }
    &__content {
        display: none;
    }
    @media screen and (min-width: 992px) {
        &__content {
            display: block;
            position: absolute;
            color: $white;
            left: 200px;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
            padding: 30px;
            background: rgba(0,0,0,0.1);
            border-radius: 5px;

            h2 {
                font-size: 48px;
                text-align: left;
                margin-bottom: 20px;
            }
        }
        &__slide { 
            position: relative;
        }
        
    }
}