.DataValue-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
}
.DataValue-heading-wrapper {
  margin-bottom: 16px;
}
.DataValue-count-wrapper {
  margin-bottom: 16px;
}
.DataValue-count {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
}
.DataValue-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
