@media screen and (min-width:992px){
    .happyclient-details{
        display:flex;
    }
}
@media screen and (min-width:1024px){
    .happyclient-details{
        margin:23px 108px;
    }
    .happyvideos{
        display:flex;
        margin:23px 108px;
        justify-content: space-between;
    }
}
