@import "../../styles/variables";
.clubhouse-main{
    background-color:$color-15;
    color:$white;
    margin-top:20px;
    margin-bottom:20px;
}
.clubhouse-heading{
    text-align: center;
    padding-top:30px;
}
.clubhouse-img{
    max-width:100%;
}
.clubhouse-list{
    padding-top:20px;
}
.clubhouse-lists{
    padding-top:8px;
}
@media screen and (min-width:990px){
    .clubhouse-main{
        display:flex;
    }
    .clubhouse-left{
        flex:50%;
        padding:20px;
    }
  
}
@media screen and (min-width:1400px){
    .clubhouse-left{
        flex:45%;

    }
    .clubhouse-lists{
        padding-top:20px;
    }
}