@media screen and (min-width:1024px){
    .happyclient-details{
        display:flex;
        margin-left:108px;
        margin-right:108px;
    }
    .happyvideos{
        display:flex;
        margin-left:108px;
        margin-right: 108px;
        justify-content: space-between;
    }
}