@import "../../styles/_variables";
.LightHouseVision-Container {
  padding: 40px 20px 0;
  display: flex;
  flex-direction: column;
  background-color: $color-15;
  color:$white;
}
.LightHouseVision-Header h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.1;
}
.LightHouseVision-content p {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}
.LightHouseVision-Highlighter h1 {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
.LightHouseVision-Logo {
  padding: 30px 90px;
  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .LightHouseVision-Container {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px 0;
  }
  .LightHouseVision-subContainer1 {
    flex: 50%;
    margin-right: 60px;
  }
  .LightHouseVision-subContainer2 {
    flex: 50%;
  }
  .LightHouseVision-Highlighter {
    margin-top: 150%;
  }
}
@media screen and (min-width: 998px) {
  .LightHouseVision-Highlighter {
    margin-top: 60%;
  }
  .LightHouseVision-Logo {
    padding: 30px 150px;
  }
}
@media screen and (min-width: 1440px) {
  .LightHouseVision-Logo {
    padding: 30px 240px;
  }
  .LightHouseVision-Highlighter {
    margin-top: 30%;
  }
}
