.carousel-btns {
    button {
        background-color: white;
        border: 1px solid rgb(10, 10, 10);
        border-radius: 20px;
        padding: 10px 20px;
        

        &.swiper-button-disabled {
            cursor: not-allowed;
            border-color: #F3F3F3;
            img {
                opacity: 0.6;
            }
        }
    }    
    &__next {
        margin-left: 30px;
    }
}