$primary-color: #4d519d;
$white: #ffffff;
$black: #000000;
$color-1: #2274a5; /*our tech experts component text color quality component text color*/
$color-2: #1a181b; /* quality component text color*/
$color-3: #0000001c; /* Why choose us blocks shadow */
$color-4: #d8d0d0; /*Getin Touch-paragraph text color*/
$color-5: #aaaacb; /* footer component row 3 text color*/
$color-6: #007cba; /* quality component  text hover color*/
$color-7: #4b4c58; /* tech component heading $ subheading text color*/
$color-8: red; /* tech component card text hover color*/
$color-9: #9b9595; /*why choose us component paragraph color*/
$color-10: #222; /*why choose us component card heading color*/
$color-11: #d2153d; /* Contact Us caller Button background*/
$color-12: #001ed3; /* Contact us Message button backgroung */
$color-13: #002411; /* Properties footer background */
$color-14: #5d5d5d; /* properties footer border color */
$color-15: #026b33; /* Properties footer contact button color */
$color-16: #f6f6f6; /* godavari contact us input background color */
$color-17: #131d3b; /* Company culture */
$color-18: #00000024; /* Contact us godavari page */
$color-19: #00215b33; /* Contact us godavari page */
$color-20: #9598c833; /* Core Values */
$color-21: #0000ff;
$color-22: #cccccc; /*  AWS Footer */
$color-23: #0000000f; /*AWS footer */
$color-24: #3e396b33; /* AWS Get Touch */
$color-25: #eeeeee; /* AWS get Touch */
$color-26: #0a0a0a;
$color-27: #c6c6c640; /* Godavri header */
$color-28: #b4b0b0; /* Improving People */
$color-29: #fafafa; /* Ourculture backgrounf */
$color-30: #00000033; /* Our team */
$color-31: #add8e6; /* Out team */

$gradientcolor-1: linear-gradient(
  35deg,
  #17ead9 0%,
  #6078ea 100%
); /*why choose us text color*/
$gradientcolor-2: linear-gradient(
  135deg,
  #846ff4 0%,
  #f17674 100%
); /*our awesome team text color*/
$gradientcolor-3: linear-gradient(
  to left,
  #5ea2d5 0%,
  #2a7aac 100%
); /*work with us button color in banner component*/
$gradientcolor-4: linear-gradient(
  to left,
  #db8511 0%,
  #e63940 100%
); /*read more button and text color in banner component and subcribe button color in GET in touch component*/
$gradientcolor-5: linear-gradient(
  135deg,
  #00ffff 0%,
  #00ffff 100%
) !important; /*get in touch component contact us text color*/
