@import "../../styles/variables";
.improving-people {
  display: flex;
  flex-direction: column;
}

.improving-people-left {
  padding: 10px;
  width: 100%;
}

.improving-people-left-heading h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}

.improving-people-left-content {
  font-size: 14px;
  font-size: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

.improving-button-left {
  background-color: $white;
  border-radius: 20px;
  padding: 6px 10px;
  width: 50px;
  border: 1px solid $color-28;
  margin-top: 49px;
}
.improving-button-left img {
  width: 21px;
}
.improving-button-right {
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 10px;
  width: 50px;
  border: 1px solid $color-28;
  margin-top: 49px;
  margin-left: 267px;
}
.improving-button-right img {
  width: 21px;
}
.improving-people-right-image {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 1px solid $white;
  border-radius: 20px;
}

@media screen and (min-width: 988px) {
  .improving-people {
    display: flex;
    flex-direction: row;
  }

  .improving-people-left {
    padding: 0px;
    margin-left: 108px;
    flex: 50%;
    margin-top: 60px;
  }

  .improving-people-left-heading h1 {
    max-width: 485px;
  }

  .improving-people-left-content {
    margin-top: 24px;
    max-width: 480px;
    margin-bottom: 40px;
  }
  .improving-button-left img {
    width: 21px;
  }
  .improving-button-right {
    background-color: transparent;
    border-radius: 20px;
    padding: 6px 10px;
    width: 50px;
    border: 1px solid $color-28;
    margin-top: 49px;
    margin-left: auto;
  }
  .improving-button-right img {
    width: 21px;
  }
  .improving-people-right {
    flex: 50%;
    margin: 0px 108px 0px 0px;
  }
  .improving-people-right-image {
    position: relative;
    width: 100%;
    height: 82vh;
    max-height: 600px;
    padding: 0px;
    margin: 60px 0px 0px 0px;
  }
}
