@media screen and (min-width:1024px){
    .road-map{
        display:flex;
        justify-content: space-between;
        margin-left:108px;
        margin-right:108px;
        margin-top:200px;
        gap:85px;
    }
}