@import '../../styles/variables';

.lightHouse-images {
    margin-bottom: 20px;
}

.lh-images {
    width: 100%;
}

@media screen and (min-width:768px) {
    .lightHouse-images {
        display: flex;
    }
}