
@import "../../styles/variables";
.download-brochure-link {
    text-decoration: none;
}

.download-brochure {
    background-color: $color-15;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    height: 36px;
    display: flex;
    align-items: center;
    color: $white;
}