@import "../../styles/variables";
.projectButtons-buttons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    padding:20px;
    
}
.projectButton2{
    border:none;
    background:none;
}

.projectButtons-image1 {
    background-color: $white;
    border:1px solid $color-26;
    border-radius:20px;
    padding:10px 20px;

    
}
.ProjectButtons-img{
    width:20px;
}
.projectButton2{
    background-color: $white;
    border:1px solid $color-26;
    border-radius:20px;
    padding:10px 10px;
}
@media screen and (min-width: 1024px) {
    .projectButtons-buttons{
        display:flex;
        justify-content:flex-end;
        padding:24px 108px 51.5px ;
    }
    
}
